<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>图片列表</title>
    <th:block th:include="includes/head :: head"></th:block>
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{{adminlte}/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css(adminlte=${adminlte})}">
    <link rel="stylesheet" th:href="@{{adminlte}/plugins/datatables-responsive/css/responsive.bootstrap4.min.css(adminlte=${adminlte})}">
    <link rel="stylesheet" th:href="@{{adminlte}/plugins/datatables-buttons/css/buttons.bootstrap4.min.css(adminlte=${adminlte})}">
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!--<div class="card card-primary">
                &lt;!&ndash; form start &ndash;&gt;
                <form>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="exampleInputFile">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Submit</button>
&lt;!&ndash;                                    <span class="input-group-text">Upload</span>&ndash;&gt;
                                </div>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash; /.card-body &ndash;&gt;
                </form>
            </div>-->
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                            上传图片
                        </button>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="imageTable" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>图片id</th>
                                <th>图片名称</th>
                                <th>图片路径</th>
                                <th>上传时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="img : ${imageList}">
                                <td th:text="${img.id}"></td>
                                <td th:text="${img.imgName}"></td>
                                <td th:text="${img.imgPath}"></td>
                                <td th:text="${img.createTime}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Default Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="inputForm"  enctype="multipart/form-data" class="form-horizontal" action="/images/upload" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                            <!--<div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <!-- /.card-body -->
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
<!-- bs-custom-file-input -->
<th:block th:include="includes/foot :: foot"></th:block>
<script th:src="@{{adminlte}/plugins/bs-custom-file-input/bs-custom-file-input.min.js(adminlte=${adminlte})}"></script>
<script>
    $(function () {
        bsCustomFileInput.init();
    });
</script>
</body>
</html>