<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>图片列表</title>
    <th:block th:include="includes/head :: head"></th:block>
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{{adminlte}/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css(adminlte=${adminlte})}">
    <link rel="stylesheet" th:href="@{{adminlte}/plugins/datatables-responsive/css/responsive.bootstrap4.min.css(adminlte=${adminlte})}">
    <link rel="stylesheet" th:href="@{{adminlte}/plugins/datatables-buttons/css/buttons.bootstrap4.min.css(adminlte=${adminlte})}">
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!--<div class="card card-primary">
                &lt;!&ndash; form start &ndash;&gt;
                <form>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="exampleInputFile">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Submit</button>
&lt;!&ndash;                                    <span class="input-group-text">Upload</span>&ndash;&gt;
                                </div>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash; /.card-body &ndash;&gt;
                </form>
            </div>-->
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="imageTable" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>图片id</th>
                                <th>图片名称</th>
                                <th>图片路径</th>
                                <th>上传时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="img : ${imageList}">
                                <td th:text="${img.id}"></td>
                                <td th:text="${img.imgName}"></td>
                                <td th:text="${img.imgPath}"></td>
                                <td th:text="${img.createTime}"></td>
                                <td>
                                    <button type="button" class="btn bg-gradient-primary btn-sm">
                                        <i class="fas fa-play"></i> Play
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>图片id</th>
                                <th>图片名称</th>
                                <th>图片路径</th>
                                <th>上传时间</th>
                                <th>操作</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
<!-- bs-custom-file-input -->
<th:block th:include="includes/foot :: foot"></th:block>
<script th:src="@{{adminlte}/plugins/bs-custom-file-input/bs-custom-file-input.min.js(adminlte=${adminlte})}"></script>
<script>
    $(function () {
        bsCustomFileInput.init();
    });
</script>
</body>
</html>