<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mrxccc.easycv.mapper.ImgMapper">
  <resultMap id="BaseResultMap" type="cn.mrxccc.easycv.domain.Img">
    <!--@mbg.generated generated on Tue Dec 15 18:38:34 CST 2020.-->
    <!--@Table img-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="img_name" jdbcType="VARCHAR" property="imgName" />
    <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Dec 15 18:38:34 CST 2020.-->
    id, img_name, img_path, create_time, update_time
  </sql>

  <resultMap id="ImgRecordMap" type="cn.mrxccc.easycv.dto.ImgRecordTaskDto">
    <!--@mbg.generated generated on Mon Dec 21 10:48:37 CST 2020.-->
    <!--@Table img_record_task-->
    <result column="rt.id" jdbcType="INTEGER" property="imgRecordTask.id" />
    <result column="rt.image_id" jdbcType="INTEGER" property="imgRecordTask.imageId" />
    <result column="rt.status" jdbcType="INTEGER" property="imgRecordTask.status" />
    <result column="rt.play_url" jdbcType="VARCHAR" property="imgRecordTask.playUrl" />
    <result column="rt.create_time" jdbcType="TIMESTAMP" property="imgRecordTask.createTime" />
    <result column="rt.update_time" jdbcType="TIMESTAMP" property="imgRecordTask.updateTime" />
    <result column="rt.end_time" jdbcType="TIMESTAMP" property="imgRecordTask.endTime" />

    <result column="img.id" jdbcType="INTEGER" property="img.id" />
    <result column="img.img_name" jdbcType="VARCHAR" property="img.imgName" />
    <result column="img.img_path" jdbcType="VARCHAR" property="img.imgPath" />
    <result column="img.create_time" jdbcType="TIMESTAMP" property="img.createTime" />
    <result column="img.update_time" jdbcType="TIMESTAMP" property="img.updateTime" />
  </resultMap>

  <sql id="Img_Record_Map_List">
    <!--@mbg.generated generated on Mon Dec 21 10:48:37 CST 2020.-->
    rt.id as 'rt.id', rt.image_id as 'rt.imageId', rt.`status` as 'rt.status', rt.play_url as 'rt.play_url', rt.create_time as 'rt.create_time', rt.update_time as 'rt.update_time', rt.end_time as 'rt.end_time',
    img.id as 'img.id', img.img_name as 'img.img_name', img.img_path as 'img.img_path', img.create_time as 'img.create_time', img.update_time as 'img.update_time'
  </sql>

  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated generated on Tue Dec 15 18:38:34 CST 2020.-->
    update img
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="img_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.imgName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="img_path = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.imgPath,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated generated on Tue Dec 15 18:38:34 CST 2020.-->
    update img
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="img_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.imgName != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.imgName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="img_path = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.imgPath != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.imgPath,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>

  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated generated on Tue Dec 15 18:38:34 CST 2020.-->
    insert into img
    (id, img_name, img_path, create_time, update_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.imgName,jdbcType=VARCHAR}, #{item.imgPath,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="cn.mrxccc.easycv.domain.Img">
    <!--@mbg.generated generated on Tue Dec 15 18:38:34 CST 2020.-->
    insert into img
    (id, img_name, img_path, create_time, update_time)
    values
    (#{id,jdbcType=INTEGER}, #{imgName,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    on duplicate key update 
    id = #{id,jdbcType=INTEGER}, 
    img_name = #{imgName,jdbcType=VARCHAR}, 
    img_path = #{imgPath,jdbcType=VARCHAR}, 
    create_time = #{createTime,jdbcType=TIMESTAMP}, 
    update_time = #{updateTime,jdbcType=TIMESTAMP}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="cn.mrxccc.easycv.domain.Img">
    <!--@mbg.generated generated on Tue Dec 15 18:38:34 CST 2020.-->
    insert into img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="imgName != null">
        img_name,
      </if>
      <if test="imgPath != null">
        img_path,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imgName != null">
        #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="imgName != null">
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="countTaskByImageId" resultType="java.lang.Integer">
    select count(id) from img_record_task where image_id = #{imageId}
  </select>
  <select id="selectImgRecordTask" resultMap="ImgRecordMap">
    select <include refid="Img_Record_Map_List"/>
    from img left join img_record_task as rt on rt.image_id = img.id
  </select>
</mapper>